/*anasayfa.html*/
@media(max-width: 500px){
    .logo{
        width: 30%;
    }
    .ortabaslik{
        width: 70%;
    }
        .ustbaslikyazi{
            font-size:1.2rem;
        }
        .otomobilyazi, .secimyapin, input, .motosikletyazi{
            font-size: 1.75vh;
        }
        
    .sosyalmedya{
        width: 25%;
        top: 4.9rem;
        right:11%;
        height: 5%;
    }
     .solsutun{
        position: relative;
        width: 50%;
    }
    .sagsutun{
        position: relative;
        width: 45%;
        right: 6%;
    }
        .iletisimkutu{
            position:absolute;
            top:-0.5rem;
        }
        .iletisimyazi{
            font-size: 0.75rem;
        }
    .dikeymenu ul li a{
        font-size: 0.75rem;
    }
}